.user{

}

textarea {
    min-height: 400px;
}

.email-item {
    border: 1px solid #ccc;
}

.list-group-item{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: lighter;
}

.bg-light-gray{
    background-color: #ededed;
}

.unread{
    font-weight: normal;
}

.list-group-item:hover{
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

